# Build output
dist/
build/

# Editor/IDE configs
.vscode/
.idea/

# System metadata
.DS_Store        # macOS
Thumbs.db        # Windows
ehthumbs.db      # Windows
Icon?            # macOS custom icons

# Vim swap files
*.swp
